<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <div class="form">
                <div class="card">
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" placeholder="enter name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="College Name">College Name</label>
                        <input type="text" placeholder="enter college" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="City">City</label>
                        <input type="text" placeholder="enter city" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="Pin">Pin</label>
                        <input type="text" placeholder="enter pincode" class="form-control">
                    </div><div class="form-group">
                        <label for="Mobile No">Mobile No</label>
                        <input type="number" placeholder="enter mobile number" class="form-control">
                    </div>
                        <div class="btn mt-2">
                            <button class="btn btn-success">submit</button>
                            <button class="btn btn-primary">Delete</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
        <table class="table">
            <thead>
                <tr>
                    <th class="okay">Name</th>
                    <th>College Name</th>
                    <th>City</th>
                    <th>Pincode</th>
                    <th>Mob No</th>
    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>AVM</td>
                    <td>Sangola</td>
                    <td>413307</td>
                    <td>9554385938</td>
                </tr>
            </tbody>
        </table>
